{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered" style="width: 50% ; height: 50%; top:50px; left:50px;">
    <thead class="thead-light">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{details.get('code')}}</td>
            <td>{{details.get('name')}}</td>
            <td>{{details.get('open')}}</td>
            <td>{{details.get('high')}}</td>
            <td>{{details.get('low')}}</td>
            <td>{{details.get('close')}}</td>
        </tr>
    </tbody>
</table>
{% endblock  %}