{% extends 'base.html' %}
{% block content %}
<h1>Top ten stock entries - {{today_date}}</h1>
<table class="table table-bordered" style="width: 50% ; height: 50%; top:50px; left:50px;">
    <thead class="thead-light">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
        </tr>
    </thead>
    <tbody>
        {% for x in data %}
        <tr>
            <td>{{x.get('code')}}</td>
            <td>{{x.get('name')}}</td>
            <td>{{x.get('open')}}</td>
            <td>{{x.get('high')}}</td>
            <td>{{x.get('low')}}</td>
            <td>{{x.get('close')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock  %}