{% extends 'base.html' %}
{% block content %}
<h4>You've entered an incorrect name</h4>
<br/>
<h6>Below is the recent list, clik on the name to get details.</h6>
<hr>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Names</span>
</nav>
{% for names in names_data %}
<form action="search_details" method="get">
  <button class="btn btn-light" name="name" type="submit" value="{{names}}">{{names}}</button>
 </form>
{% endfor %}

{% endblock  %}